@using Cat_Show_Results.ViewModels
@*  @model HomeViewModel
*@

@*<partial name="_Carousel" />*@
<partial name="_Intro" />


<div class="row">
@*
    @foreach (var katt in Model.VeckansCater)
    {
        <partial name="_CatCard" model="katt" />
    }
*@
</div>


<h2>Min Kattklubb - Utställningsresultat</h2>